<head>
  <meta charset="utf-8">
  <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description | xml_escape }}">
  <meta name="robots" content="all">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <!-- links -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% if site.feed_path %}<link href="{{ site.feed_path | prepend: site.baseurl }}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom feed" />{% endif %}

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
  <link rel="stylesheet" href="{{ "/assets/skin.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" type="text/css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Sancreek&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

  <!-- Verifications -->
  {% if site.google_verification %}<meta name="google-site-verification" content="{{ site.google_verification }}" />{% endif %}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.webmanifest">
</head>
